html, body {
    height: 100%;
    margin: 0;
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #ffffff, #26f7f7);
}

.form-container {
    display: flex;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-section, .interests-section {
    padding: 20px;
}

.form-section {
    flex: 1;
}

.interests-section {
    flex: 1;
    background-color: #f0f0f0;
    border-radius: 0 10px 10px 0;
}

.top-left-image {
    width: 200px; /* Збільшено розмір логотипу */
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
}

.form-group input,
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-group input[type="checkbox"] {
    width: auto;
}

button {
    padding: 10px 20px;
    background-color: #26f7f7;
    color: #ffffff;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #1bc2c2;
}

/* Responsive Design */

@media (max-width: 767px) {
    .form-container {
        flex-direction: column;
        width: 90%;
    }

    .form-section, .interests-section {
        width: 100%;
        border-radius: 10px;
        margin-bottom: 20px;
    }

    .top-left-image {
        width: 160px; /* Встановлено розмір логотипу для мобільних пристроїв */
    }

    h2 {
        font-size: 20px;
    }

    button {
        width: 100%;
        font-size: 16px;
        padding: 10px;
    }
}
